/* Import Inter Font */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Hide number input arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

* {
  font-family: "Inter", sans-serif;
  color: #211512;
}

body {
  background-color: #ef634a;
}

.container {
  margin-top: 30px;
}

.container-bomba {
  width: 370px;
  height: 568px;
  padding-left: 50px;
  margin: auto;
}

.main-container {
  position: relative;
  z-index: 3;
  margin: auto;
  margin-top: -120px;
  padding: 40px;
  border-radius: 20px 20px 0px 0px;
  max-width: 430px;
  width: 100%;
  background-color: white;
}

h1 {
  display: inline-block;
}

h1 > p {
  font-size: 40px;
  line-height: 48px;
}

h1 > p:first-child {
  font-size: 16px;
  color: #4b3b38;
  line-height: 20px;
}

.title > img {
  display: inline-block;
  margin-left: 10px;
}

.container .calculadora {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.field {
  position: relative;
}

label {
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
}

.field-box {
  padding: 0px 50px;
  width: 100%;
  height: 50px;
  border: 2px solid #9b9b9b;
  border-radius: 20px;
  font-size: 24px;
  font-weight: bold;
}

.field-box:focus {
  outline-color: #ef634a;
}

.rs-label {
  position: absolute;
  top: 34px;
  left: 20px;
  color: #9b9b9b;
  font-size: 20px;
  font-weight: 500;
}

.litro-label {
  position: absolute;
  top: 36px;
  right: 20px;
  color: #9b9b9b;
  font-size: 16px;
  font-weight: 500;
}

.btn-calcular {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  border-radius: 20px;
  background-color: #ef634a;
  text-align: center;
  border: none;
}

.btn-calcular:hover {
  background-color: #ff836d;
}

.btn-calcular > span {
  color: white;
  font-size: 20px;
}

.btn-calcular > img {
  margin-left: 7px;
  display: inline;
}

.container .resultado {
  text-align: center;
}

.resultado-titulo {
  color: #4b3b38;
  font-size: 24px;
  font-weight: bold;
}

.resultado-combustivel {
  font-size: 60px;
  font-weight: bold;
}

.resultado-porcentagem {
  font-size: 32px;
  font-weight: bold;
}

.inativo {
  display: none;
}
